body {
  font-family: var(--font-clash), sans-serif;
  font-size: clamp(16px, 12.5714px + 0.595238vw, 24px);
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-size: clamp(60px, 34.2857px + 4.46429vw, 120px);
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h2 {
  font-size: clamp(30px, 17.1429px + 2.23214vw, 60px);
  line-height: 1.125;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h3 {
  font-size: clamp(18px, 12.8571px + 0.892857vw, 30px);
  line-height: 1.25;
  font-weight: 450;
}

p {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
