@import "../styles/variables";
@import "../styles/functions";

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.section-margin {
  margin-top: fluid(80, 160, $sm, $max);
  margin-bottom: fluid(80, 160, $sm, $max);
}

.section-margin-top {
  margin-top: fluid(80, 160, $sm, $max);
}

.section-margin-bottom {
  margin-bottom: fluid(80, 160, $sm, $max);
}

.section-padding {
  padding-top: fluid(60, 120, $sm, $max);
  padding-bottom: fluid(60, 120, $sm, $max);
}

.section-padding-top {
  padding-top: fluid(60, 120, $sm, $max);
}

.section-padding-bottom {
  padding-bottom: fluid(60, 120, $sm, $max);
}
