$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1600px;
$max: 1920px;

$grid-gutter-width: 30px;

$ease-out: cubic-bezier(0, 0, 0.04, 0.99);
$ease-in-out: cubic-bezier(0.73, 0.03, 0.04, 0.99);

$pink: #f43791;
$blue: #1a3ebf;
$green: #b6fd6e;
