@use "functions" as *;
@use "variables" as *;

@use "typography";
// @use "grid";

:root {
  --grid-gutter: 20px;
  --container-padding: #{fluid(20, 80, $sm, $max)};
  --container-max-width: 1920px;

  --text-base: #{fluid(18, 24, $sm, $max)};
  --text-h1: #{fluid(60, 120, $sm, $max)};
  --text-h2: #{fluid(30, 60, $sm, $max)};
  --text-h3: #{fluid(20, 30, $sm, $max)};

  --spacing-xxl: #{fluid(80, 160, $sm, $max)};
  --spacing-xl: #{fluid(60, 120, $sm, $max)};
  --spacing-lg: #{fluid(40, 80, $sm, $max)};
  --spacing-md: #{fluid(32, 64, $sm, $max)};
  --spacing-sm: #{fluid(24, 48, $sm, $max)};
  --spacing-xs: #{fluid(16, 32, $sm, $max)};

  --media-radius: #{fluid(16, 32, $sm, $max)};
}

@layer base {
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@view-transition {
  navigation: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(main) {
  animation: 250ms linear both fade-out;
}

::view-transition-new(main) {
  animation: 250ms linear 125ms both fade-in;
}
