.video {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 50%;
  aspect-ratio: 16 / 18;
  pointer-events: none;
  opacity: 0;
}

.canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  pointer-events: none;
  //   opacity: 0;
}
