@import "../styles/variables";
@import "../styles/functions";

.hero {
  margin-bottom: fluid(80, 160, $sm, $max);
}

.heroGraphic {
  position: relative;
  aspect-ratio: 1.5;
  margin-bottom: fluid(50, 100, $sm, $max);
  border-radius: fluid(16, 32, $sm, $max);
  overflow: hidden;
  background: black;
}

.heroLogo {
  position: absolute;
  left: -3%;
  top: -6%;
  width: 106%;
  max-width: none;
  aspect-ratio: 1218/424;
  color: #222;
}

.heroImage {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}
