.canvas {
  position: absolute;
  //   left: -4%;
  //   top: -8%;
  //   width: 108%;
  left: 0;
  top: 0;
  width: 100%;
  max-width: none;
  aspect-ratio: 1218/424;
}

.div {
  position: absolute;
  //   left: -4%;
  //   top: -8%;
  //   width: 108%;
  left: 0;
  top: 0;
  width: 100%;
  max-width: none;
  aspect-ratio: 1218/424;
}
