.div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //   left: -3%;
  //   top: -6%;
  //   width: 106%;
  //   max-width: none;
  //   aspect-ratio: 1218/424;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
