@import "../styles/mixins";
@import "../styles/variables";
@import "../styles/functions";

.section {
  position: relative;
}

.heading {
  margin-bottom: 40px;
}

.mask {
  position: relative;
  width: 100vw;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: black;
  perspective: 100vw;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.375),
      transparent 40px,
      transparent calc(100% - 40px),
      rgba(0, 0, 0, 0.375)
    );
  }
}

.grid {
  position: relative;
  width: 200%;
  height: 200%;
  transform-style: preserve-3d;
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: black;
    filter: blur(20px);
  }

  img {
    position: relative;
    width: 10vw;
    aspect-ratio: 2;
  }
}

.star {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  border-radius: 50%;
}
