@import "../styles/mixins";
@import "../styles/variables";
@import "../styles/functions";

.section {
  position: relative;
}

.heading {
  margin-bottom: 40px;
}

.mask {
  position: relative;
  width: 100vw;
  height: 125vh;
  overflow: hidden;
  background-color: black;
  perspective: 100vw;
}

.grid {
  position: relative;
  width: 200%;
  height: 200%;
  transform-style: preserve-3d;
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: black;
    filter: blur(20px);
  }

  img {
    position: relative;
    width: 240px;
    aspect-ratio: 2;
  }
}

.star {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  border-radius: 50%;
}
