@import "../styles/mixins";
@import "../styles/variables";
@import "../styles/functions";

.section {
  position: relative;
  margin: fluid(40, 120, $sm, $max) 0;
}

.list1 {
  aspect-ratio: 2.5;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  margin: fluid(30, 90, $sm, $max) 0;
  padding: 0;
  list-style-type: none;

  li {
    // outline: 1px solid red;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 3;
      grid-row: 4;
    }

    &:nth-child(3) {
      grid-column: 6;
      grid-row: 2;
    }

    &:nth-child(4) {
      grid-column: 8;
      grid-row: 6;
    }
  }
}

.list2 {
  aspect-ratio: 2.5;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  margin: fluid(30, 90, $sm, $max) 0;
  padding: 0;
  list-style-type: none;

  li {
    // outline: 1px solid red;

    &:nth-child(1) {
      grid-column: 9;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 8;
      grid-row: 4;
    }

    &:nth-child(3) {
      grid-column: 6;
      grid-row: 2;
    }

    &:nth-child(4) {
      grid-column: 4;
      grid-row: 5;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
