.section {
  position: relative;
  height: 200vw;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, white 49%, black 49%, black);
}

.svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  color: white;
}
